@font-face {
  font-family: "myfont";
  src: url("fonts/Myfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal
}
html,
body {
    height: 100%; 
    margin: 0;
}

* {
    box-sizing: border-box;
}
body {
  font-family: system-ui, Arial, sans-serif;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background-image: url("/images/howls.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(3px) saturate(150%);
}
.background {
    background-image: url("/images/howls.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(10px) saturate(200%);
}

.title {
    background: rgba(165, 132, 14, 0.7);
    padding:8px 30px;
    border: #173a05;
    border-radius: 10px;
    
}

.title h1 {
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    font-family: "myfont", sans-serif;
    text-align: center;

}

.overlay {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2rem;
}

.buttons {
    display: flex;
    gap: 12px;
    position: relative;
    border-radius: 10px;
    left: -55px
    
};

button {
  font-family: inherit;
  font-size: 12rem;
  border: #34792e;
  padding: 30px 40px;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: transform 0.1s ease;
}

button.yes {
    background: rgba(40, 120, 40, 0.8);
    color: #fff;
    border: none;
    border-radius: 8px ;
    padding: 20px 30px;
    font-size: 20px;
}

button.yes:hover {
    background: rgba(80, 196, 80, 0.9);
}

button.no {
    background: rgba(228, 46, 46, 0.8);
    color: #fff;
    border: none;
    border-radius: 8px ;
    padding: 20px 20px;
    font-size: 20px;

}

.frog-print {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 1;
  transition: opacity 1.2s ease-out;
  pointer-events: none;
}

