/* basic page structure (minimal) */
@font-face {
  font-family: "myfont";
  src: url("fonts/Myfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal
}
html,
body {
  height: 100%; 
  margin: 0;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "myfont", sans-serif;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  
  background-image: url("/images/pinterest.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(4px) saturate(120%);
}
main {
  display: flex;
  flex-direction: column;
  text-align: center; 
  background: rgb(111, 47, 47);
  padding: 20px 30px;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  max-width: 400px;
}

.glass-bar {
  position: fixed;
  bottom: 24px;
  height: 70px;
  max-width: 800;
  padding: 10px 30px;
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  gap: 30px;
  background: rgba(156, 235, 148, 0.35);
  backdrop-filter: blur(10px) saturate(200%);
  border: 1px solid rgba(62, 44, 44, 0.55);
  border-radius: 10px;
}

.bar-text {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  font-family: "myfont", sans-serif;
  color: #111;
}

.bar-text .name {
  font-size: 16px;
  margin-top: 20px;
  font-weight: 700;
  color: #fff;
}

.bar-text .message {
  font-size: 12px;
  margin-top: -20px;
  margin-bottom: 20px;
  color: #fff;
}

.icon-btn {
  display: grid;
  place-items: center;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background: transparent;
  color: #fff;
  border: transparent;
  cursor: pointer;
  transition: transform 0.08s ease, filter 0.2s ease, box-shadow 0.2s ease;
}
.icon-btn:hover {
  transform: translateY(-1px);
  filter: brightness(3);
}
.icon-envelope {
  width: 28px;
  height: 28px;
  color: #faf5f5;
}

.float-layer {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

.backdrop[hidden] {
  display: none;
}
.backdrop {
  position: fixed;
  inset: 0; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background: rgba(0, 0, 0, 0.4); 
  backdrop-filter: blur(6px); 
  z-index: 1; 
}



/* Carousel styles, photos goes in circle */
.carousel {
  position: fixed;
  width: min(1900px, 100vw);
  margin: 50px auto 24px;
  top: -40px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background: transparent;
}

/* track photos in carousel */
.caro-track {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-start; 
  gap: clamp(24px, 10vw, 10px);
  padding: 8px 0px;
  overflow-x: auto; 
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /* hide scrollbar  */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge legacy */

  pointer-events: none;
}

.caro-track {
  padding-block: 100px;
  padding-inline: 10px;
}
.caro-track::-webkit-scrollbar {
  display: none;
} /* Chrome/Safari */

/* side spacers so the FIRST and LAST slides can reach center */
.caro-track::before,
.caro-track::after {
  content: "";
  flex: 0 0 20vw; /* half viewport width as padding */
}

.caro-slide {
  flex: 0 0 auto; /*don't shrink or grow */
  width: clamp(240px, 26vw, 340px);
  aspect-ratio: 16/9;
  border-radius: 12px;
  overflow: hidden;

  opacity: 0.6;
  transform: scale(1);
  transition: transform 0.6s ease, opacity 0.6s ease;

  scroll-snap-align: center;
}

.caro-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.caro-slide.active {
  transform: scale(1.8);
  opacity: 1;
  z-index: 2;
  filter: none;
}

.caro-arrow {
  display: grid;
  place-items: center;
  justify-content: center;
  width: 44px;
  height: 58px;

  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.6);

  font-size: 28px;
  line-height: 0;
  color: #fff;
  cursor: pointer;

  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px) saturate(140%);
  -webkit-backdrop-filter: blur(8px) saturate(140%);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);

  transition: filter 0.15s ease, transform 0.15s ease;
}
.caro-arrow:hover {
  filter: brightness(1.03) opacity(10px) blur(1px);
  background-color: #81a171;
  transform: translateY(-3px);
}
.caro-arrow:active {
  transform: translateY(1px);
}


.together-since {
  text-align: center;
  margin-top: 150px;
  color: #f5f5f5;
  font-family: "myfont", sans-serif;
  letter-spacing: 1px;
}

/* title */
.together-since p {
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: 500;
}

.time-row {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.time-box {
  background: rgba(255, 255, 255, 0.70);
  padding: 20px 30px;
  border-radius: 12px;
  border: none;
  min-width: 80px;
  text-align: center;
  color: #320b0b;
  font-size: 20px;
  font-weight: 500;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.25),
    inset 0 2px 4px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
}

/* numbers*/
.time-box span {
  font-size: 18px;
  font-weight: 600;
  display: block;
  margin-bottom: 3px;
}

.together-since p,
.together-since h2 {
  text-shadow: 0 2px 4px rgba(0,0,0,0.4);
}

/* froggies*/
.frog-row {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.frog-box {
  background-image: url(images/frog.png);
  background-size: cover;
  padding: 40px 40px;
  border-radius: 999px;
  border: none;
  min-width: 80px;
  text-align: center;

  animation: up 1s infinite;

}

.frog-box-1 {
  background-image: url(images/frog.png);
  background-size: cover;
  padding: 40px 40px;
  border-radius: 999px;
  border: none;
  min-width: 80px;
  text-align: center;
  font-weight: 500;
  animation: up 0.8s infinite;

}
@keyframes up {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  
}

/* letter things */
.letter-row {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.letterBox {
  position: relative;
  top: 50px;
  cursor: pointer;
}
.envelope-wrapper  {
  position: relative;
  width: 600px;
  height: 400px;
  background: #93642e;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
  z-index: 1;
  bottom: -150px;
  transition: 1s;
}

.envelope-wrapper::before {
  content: '';
  position: absolute;
  width: 424px;
  height: 424px;
  transform: rotate(45deg);
  background:  #93642e;
  top: -212px;
  border-radius: 50px 0 0 0;
};





.close-btn {
  padding: 6px 12px;
  position: fixed;
  border: 0;
  border-radius: 999px;
  background: #b48a84;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.close-btn:hover {
  filter: brightness(0.95);
}


.front {
  content: '';
  position: absolute;
  border-right: 400px solid #ae793b;
  border-top: 200px solid transparent;
  border-bottom: 200px solid transparent;
  left: 200px;
  z-index: 10;
}
.letter-content {
  position: relative;
  width: 500px;
  display: grid;
  background: #e9e6d6;
  align-items: center;
  align-self: center;
  border-radius: 0px;
  padding: 50px;
  box-shadow:
    0 18px 40px rgba(0, 0, 0, 0.35),
    inset 0 1px 2px rgba(255, 255, 255, 0.7);  
  font-family: "myfont", sans-serif;
  background-image: url(/images/letterBack.jpeg);
  background-size: cover;
  background-blend-mode: multiply;
  z-index: 2;
  top: -100px;
  transition: 1s;

}
.letter-content h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}

.letter-content p {
  margin: 20px;
  padding-left: 10px;
  font-size: 12px;
  text-align: left;
}
.front::before {
  content: '';
  position: absolute;
  border-left: 600px solid #b1895c;
  border-top: 400px solid transparent;
  left: -200px;
  top: -200px;
}

.letterBox:hover .letter-content{
  transform: translateY(-200px) ;

}


